h1 {
  font-family: unifrakturmaguntia, fantasy;
}

.form-inline .form-control {
  width: 400px !important;
  margin-bottom: 20px;
}

.btn {
  margin: 20px 0;
}

.jumbotron {
  margin-top: 0;
  padding: 50px;
}

hr {
  visibility: hidden;
}